<div class="w-100 row">
    <div class="col-2">
        <div style="height: 93vh;" class="bg-dark pt-5">
            <h5 class="text-center mt-5">
                <a routerLink="/home" class="text-light text-decoration-none">Home</a>
            </h5>
            <h5 class="text-center mt-5">
                <a routerLink="/employee" class="text-light text-decoration-none">Employee</a>
            </h5>
        </div>

    </div>
    <div class="col-10 p-5">
        <h3>Employee List</h3>
        <div class="d-flex ">
            <a routerLink="/employee/addemp" class="ms-auto">
                <button type="submit" class="btn btn-success">
                    <i class="fa-regular fa-user" style="color: #f3f3f5;"></i>
                    Add Employee</button>
            </a>

        </div>
        <h2>{{a | date}}</h2>
        <div class="form-floating mb-3 w-50">
            <div class="dropdown d-flex justify-content-between mb-4">
                <input type="text" class="form-control" id="floatingInput" placeholder="Enter to search">
                <button type="button" class="btn btn-info ms-2 dropdown-toggle" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">Sort</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item">Sort By Id</li>
                    <li class="dropdown-item">Sort By Username</li>
                </ul>

            </div>
        </div>
        <div class="d-flex justify-content-between mb-4">
            <button type="submit" class="btn btn-warning ms-auto">
                <i class="fa-solid fa-file-export"></i>Export</button>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Kavya</td>
                        <td>kavya@gmail.com</td>
                        <td>
                            <button class="btn btn-success">Active

                            </button>
                        </td>
                        <td>
                            <a routerLink="/employee/editemp/1"><i class="fa-solid fa-pen-to-square me-4"
                                    style="color: #1e39a4;"></i></a>
                            <i class="fa-solid fa-trash" style="color: #e81721;"></i>

                        </td>
                    <tr>
                        <td>2</td>
                        <td>Karish</td>
                        <td>krish@gmail.com</td>
                        <td>
                            <button class="btn btn-success">Active

                            </button>
                        </td>
                        <td>
                            <a routerLink="/employee/editemp/1"><i class="fa-solid fa-pen-to-square me-4"
                                    style="color: #1e39a4;"></i></a>
                            <i class="fa-solid fa-trash" style="color: #e81721;"></i>

                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Anu</td>
                        <td>anu@gmail.com</td>
                        <td>
                            <button class="btn btn-success">Active

                            </button>
                        </td>
                        <td>
                            <a routerLink="/employee/editemp/1"><i class="fa-solid fa-pen-to-square me-4"
                                    style="color: #1e39a4;"></i></a>
                            <i class="fa-solid fa-trash" style="color: #e81721;"></i>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>

</div>