<div class="w-100 row">
    <div class="col-2">
        <div style="height: 93vh;" class="bg-dark pt-5">
            <h5 class="text-center mt-5">
                <a routerLink="/home" class="text-light text-decoration-none">Home</a>
            </h5>
            <h5 class="text-center mt-5">
                <a routerLink="/employee" class="text-light text-decoration-none">Employee</a>
            </h5>
        </div>
    </div>
    <div class="col-10 p-2 row">
        <div class="col-8">
            <div class="d-flex justify-content-center p-5"
                style="background-image: url('https://th.bing.com/th/id/OIP.PLLWGq3IOvtphVdLG3zmGAHaEc?rs=1&pid=ImgDetMain');">
                <h3 class="text-light">Welcome Admin</h3>

            </div>
            <div class="row">
                <div class="col">
                    <app-calender></app-calender>
                </div>
                <div class="col">
                    <app-chart></app-chart>
                </div>
            </div>



        </div>

        <div class="col-4">
            <div style="height:400px">
                <app-profile>
                </app-profile>
            </div>
                    <div class="p-5"></div>
            <div class="p-5 text-light"  style="background-image: url('https://th.bing.com/th/id/OIP.PLLWGq3IOvtphVdLG3zmGAHaEc?rs=1&pid=ImgDetMain');"></div>

        </div>
    </div>
</div>